h1 {
  background-color: #a52a2a;
  text-align: center;
  color: white;
}

.image-width {
  width: 100%;
}

p {
  font-size: 18px;
}

.blue-color {
  color: blue;
}

.image-box {
  text-align: center;
}

.image-border {
  border: 3px dashed black;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 30px 0;
}
.next {
  background-color: rgb(247, 155, 18);
  border-radius: 8px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}